<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Stock Management System</title>
</head>
<body>
<div th:replace="~{header::header-fragment}"></div>
    <div id="container">
        <section id="main">
            <h2>로고</h2>
            <div class="main_img">
                <img th:src="@{/}" alt="">
            </div>
        </section>
    </div>
<div th:replace="~{footer::footer-fragment}"></div>
</body>
</html>